body, html {
    height: 100%;
}

body {
    background-image: url("/assets/background.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

    backdrop-filter: blur(10px);
}

.navbar .nav-item{
    font-size: 20px;
    font-weight: normal;

    margin-left: 2.5vw;
    text-decoration: none;
}

.navbar a{
    color: white;
}